
@font-face {
    font-family: 'cooper_hewittbold';
    src: url('../../fonts/cooperhewitt-bold-webfont.eot');
    src: url('../../fonts/cooperhewitt-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/cooperhewitt-bold-webfont.woff2') format('woff2'),
    url('../../fonts/cooperhewitt-bold-webfont.woff') format('woff'),
    url('../../fonts/cooperhewitt-bold-webfont.ttf') format('truetype'),
    url('../../fonts/cooperhewitt-bold-webfont.svg#cooper_hewittbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cooper_hewittbook';
    src: url('../../fonts/cooperhewitt-book-webfont.eot');
    src: url('../../fonts/cooperhewitt-book-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/cooperhewitt-book-webfont.woff2') format('woff2'),
    url('../../fonts/cooperhewitt-book-webfont.woff') format('woff'),
    url('../../fonts/cooperhewitt-book-webfont.ttf') format('truetype'),
    url('../../fonts/cooperhewitt-book-webfont.svg#cooper_hewittbook') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cooper_hewittlight';
    src: url('../../fonts/cooperhewitt-light-webfont.eot');
    src: url('../../fonts/cooperhewitt-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/cooperhewitt-light-webfont.woff2') format('woff2'),
    url('../../fonts/cooperhewitt-light-webfont.woff') format('woff'),
    url('../../fonts/cooperhewitt-light-webfont.ttf') format('truetype'),
    url('../../fonts/cooperhewitt-light-webfont.svg#cooper_hewittlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
