$screen-xxs:                  320px !default;
$screen-xxs-min:              $screen-xxs !default;

$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;

$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;

$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;

$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;

$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

$body-bg:                    #fff;
$gray-dark:                  rgb(32, 35, 38);
$gray:                       rgb(65, 66, 68);
$gray-light:                 rgb(246, 246, 246);
$brand-primary:              rgb(48, 129, 153);
$brand-secondary:            rgb(231, 246, 197);

$padding-base-vertical:      6px;
$padding-base-horizontal:    12px;

$padding-large-vertical:     10px;
$padding-large-horizontal:   16px;
