@import 'reset';
@import 'variables';
@import 'fonts';

@each $direction in left, center, right {
    .text-#{$direction} {
        text-align: #{$direction};
    }
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset == "true" {
        -webkit-box-shadow:inset $top $left $blur $color;
        -moz-box-shadow:inset $top $left $blur $color;
        box-shadow:inset $top $left $blur $color;
    } @else {
        -webkit-box-shadow: $top $left $blur $color;
        -moz-box-shadow: $top $left $blur $color;
        box-shadow: $top $left $blur $color;
    }
}

@mixin font-size-generator($size, $height: 1.55) {
    font-size: #{$size}px;
    font-size: #{$size / 10}rem;
    line-height: $height;
}

html { font-size: 62.5%; }
body {
    background-color: $body-bg;
    color: $gray-dark;
    @include font-size-generator(18);
    font-family: 'cooper_hewittbook';

    h1, h2, h3, h4, h5, h6 {
        font-family: 'cooper_hewittbold';
        padding-top: $padding-large-vertical;
    }
}

section {
    padding: ($padding-large-vertical * 2) 0;

    h1 {
        font-size: 14vw;
        line-height: 14vw;
        text-transform : uppercase;
        color: $brand-primary;

        @media screen and (max-width: $screen-sm) {
            @include font-size-generator(144);
        }
    }

    h2 {
        font-size: 4vw;
        line-height: 4vw;
        text-transform : uppercase;
        line-height: 1.1;

        @media screen and (max-width: $screen-sm) {
            @include font-size-generator(48);
        }

        @media screen and (max-width: $screen-sm) {
            @include font-size-generator(36);
        }
    }
    
    h4 {
        @include font-size-generator(16);
    }

    p {
        @include font-size-generator(16);
    }

    .period {
        font-family: 'cooper_hewittlight';
        @include font-size-generator(12);
        padding-left: 8px;
    }

    &.contact {
        text-align: right;
        @include font-size-generator(22);

        @media screen and (max-width: $screen-xs) {
            text-align: left;
        }

        h1.name {
            @include font-size-generator(32);
            color: $gray-dark;
            padding: 20px 0;
        }
    }

    &.experience {
        .label {
            &.a {
                @include font-size-generator($font-size-normal + 4);
            }
            &.b {
                @include font-size-generator($font-size-normal);
            }
            &.c {
                @include font-size-generator($font-size-normal - 4);
            }
        }
    }

    &.about {
        background-color: $gray-light;
        p {
            padding: 20px;
        }
    }

    &.programming {
        .boxes {
            font-size: 0;
            line-height: 0;
            padding: 2px;
            @include box-shadow(0, 0, 30px, rgba(65, 66, 68, 0.5));
        }
        .box {
            @include font-size-generator(16);
            position: relative;
            display: inline-block;
            width: calc((100% / 4) - (2 * 1px));
            margin: 1px;

            @media screen and (max-width: $screen-md) {
                width: calc((100% / 3) - (2 * 1px));
            }

            @media screen and (max-width: $screen-xs) {
                width: calc((100% / 2) - (2 * 1px));
            }

            @media screen and (max-width: $screen-xxs) {
                width: calc((100% / 1) - (2 * 1px));
            }

            &:before {
                content: "";
                display: block;
                padding-top: 100%;
            }
            
            &.dark {
                background-color: $gray-dark;
            }
            &.light {
                background-color: $gray-light;
            }
            &.info {
                background-color: $gray;
            }
            &.primary {
                background-color: $brand-primary;
            }

        }
    }

    article {
        padding: $padding-large-vertical 0;

        .highlight {
            background-color: $brand-secondary;
        }
    }

    strong {
        color: $brand-primary;
    }
}
